
<div class="signup-container">
  <%= form_with url: "/create" do |f| %>
    <%= f.label :名前 %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :メールアドレス %>
    <%= f.text_field :email %>
    <br>
    <%= f.label :パスワード %>
    <%= f.password_field :password %>
    <br>
    <%= f.label :確認用パスワード %>
    <%= f.password_field :password2 %>
    <br>
    <%= f.submit :登録%>
  <% end %>
</div>