<!DOCTYPE html>
<html>
  <head>
    <title>ServerB</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="flash">
      <% if flash[:notice] %>
        <div class="success">
            <p><%= flash[:notice] %></p>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert">
          <p><%= flash[:alert] %></p>
        </div>
      <% else %>
        <div class="no-flash">
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
